:root{
    --dark: rgb(26, 26, 26);
    --light: white;
}
body{
    font-family: sans-serif;
    color: var(--light);
    background-color: var(--dark);
}
.nav-style{
    font-size: large;
    font-weight: 500;
    background-color: var(--dark);
}
#navbarTogglerDemo01 > ul > li > a{
    color: var(--light);
}
#navbarTogglerDemo01 > ul > li > a:hover{
    color: gray;
}
#menu-burger{
    max-height: 45px;
}
.bgimage {
    height:100vh;
    background: url(images/logo-tp-grn.png);
    background-repeat: no-repeat;
    background-position:right;
    background-size:80vh;
    background-attachment: fixed;
  }
  .bgimage h1 {
    font-size: 3em;
    /* color:rgb(37, 37, 37); */
    /* text-shadow:2px 2px #333; */
  }
  #statement {
	text-align: left; /*letter-spacing:.2em;*/
	position: absolute;
    font-weight: 500;
    font-size: 1.8rem;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	width:75%;
    color: var(--light);
}
.skills{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
}
@media screen and (min-width: 720px) {
    .skills  {
        grid-template-columns: auto auto auto auto auto auto;
    }
  }
.skill-badges{   
    /* background-color: lightgray; */
    width: 150px;
    min-height: 150px;
}
.work-img-container > img{
    max-height: 65vw;
    max-width: 65vw;
}
section{
    padding-top: 4em;
}